.basket-title {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 1.2;
}

.order-item-main-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.basket-table-block {
    width: calc(100% * 1.5 / 3.001);
}

#basketTable {
    width: 100%;
    border-collapse: collapse;
}

#basketTable tr {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #f2f2f2;
}

#basketTable tr:last-child {
    border-bottom: 2px solid #f2f2f2;
}

#basketTable td {
    display: table-cell;
    padding: 1px;
}

.td-img {
    width: 82px;
    height: 82px;
}

.td-img img {
    max-width: 100%;
}

#basketTable .td-name {
    padding-left: 10px;
    min-width: 170px;
}

.td-name a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.td-name a:hover {
    color: #0f6ecd;
}

.td-count {
    width: 80px;
    text-align: right;
}

.td-price {
    color: #157ed2;
    padding-left: 10px;
    text-align: right;
    width: 20%;
    font-size: 18px;
    font-weight: 600;
    min-width: 100px;
}

.order-item-block {
    width: calc((100% * 1.5 / 3.001) - 30px);
    margin-left: 30px;
    background: #ffffff;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

.order-item-title-line {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.order-item-number-block {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding-top: 1.5px;
    padding-right: 1px;
    text-align: center;
    border-radius: 50%;
    background-color: #20488a;
    color: #fff;
}

.order-item-title-name {
    color: #000;
    line-height: 24px;
}

.order-item-input-block {
    width: 100%;
    margin: 20px 0;
}

.order-item-info-line {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
}

.name-order-item-info {
    width: 30%;
    padding-right: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.value-order-item-info {
    width: 70%;
    color: #666;
}

.price-delivery {
    padding-left: 10px;
    color: #20488a;
    font-size: 16px;
    font-weight: 600;
}

.price-amount {
    color: #20488a;
    font-size: 30px;
    font-weight: 600;
}

.button-back-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.order-button {
    color: #fff;
    background: #20488a;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.select-order {
    box-sizing: content-box;
    width: 120px;
    min-height: 30px;
    padding: 0 10px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    outline: none;
    color: #666;
    font-size: 16px;
}

.upd-order-button {
    width: 100px;
    height: 24px;
    margin-top: 4px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}